@import '../../styles/variables';

.root {
  min-width: 300px;
  width: 100%;
  border-top: 1px solid $tint-color;
  background: $base-color;
}

.title {
  font-weight: bold;
  margin: .25em 0 .5em;
  padding: .25em;
  font-size: 1em;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.listitem, .orig {
  position: relative;
  border-top: 1px solid $tint-color;
  border-bottom: 1px solid $dark-color;
  padding: .5em .5em .5em 2em;
  border-left: 5px solid $tint-color;
  cursor: pointer;
  &:hover {
    border-top: 1px solid $hover-tint-color;
    border-bottom: 1px solid $hover-dark-color;
    background: $hover-base-color;
    .actions {
      display: block;
    }
  }
  &.selected {
    border-left: 5px solid orangered;
  }
}

.editmode {
  border-top: 1px solid $hover-tint-color;
  border-bottom: 1px solid $hover-dark-color;
  background: $hover-base-color;
}

.name {
  margin: 0;
}

.num {
  width: 50px;
}

.actions {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  button {
    width: 50px;
    height: 34px;
    margin: 2px;
    cursor: pointer;
    border-radius: 0;
    border: 1px solid black;
    display: inline;
    vertical-align: top;
    background-color: white;
    &:hover {
      background-color: darken(white, 10%);
    }
    span {
      margin: 0 5px;
    }
  }
}