$base-color: #EEE;
$dark-color: darken($base-color, 10%);
$tint-color: lighten($base-color, 10%);

$hover-base-color: #DDD;
$hover-dark-color: darken($hover-base-color, 10%);
$hover-tint-color: lighten($hover-base-color, 10%);