@import '../../styles/variables';

.root {
  margin: 0.5em;
  border-bottom: 1px solid $dark-color;
}

.title {
  font-weight: bold;
  margin: 0.25em 0 0.5em;
  display: block;
}

.list {
  width: 100%;
}